<div class="footer">
    <div class="info_ausbildung">
        <a href="https://www.xing.com/pages/ibs-innovativebankingsolutionsag"><img class="img" src="assets/img/xing.png" alt="XING"></a>
        <a href="https://www.linkedin.com/company/ibs-innovative-banking-solutions-ag/mycompany/"><img class="img" src="assets/img/linkedin.png" alt="LinkedIn"></a>
        <h1>Info-Line Ausbildung/Studium</h1>
        <div class="buttons"> 
            <a href="https://www.ibs-banking.com/de/unternehmen/kontakt.html"><button mat-button >Ansprechpartner</button></a>
            <a href="https://www.ibs-banking.com/de/impressum.html"><button mat-button >Impressum</button></a>
            <a href="https://www.ibs-banking.com/de/datenschutz.html"><button mat-button >Datenschutz</button></a>
            <a><button mat-button>Cookie Einstellungen</button></a>
        </div>
        <p class="info_line">Tel: 0611-34 10 100 <br>
            E-Mail:<a href="mailto:ausbildung@ibs-banking.com"> ausbildung@ibs-banking.com</a>
        </p>
        <p class="copyright">Copyright © 2021 iBS - Innovative Banking Solutions AG. Alle Rechte vorbehalten.</p>
        
    </div>
    
</div>
