
 
<div class="Bewerbung-Container">
    
    <div class="Inhalt">
       <h2>Jetzt Bewerben!</h2>
        <div class="Text">Bewerbe dich jetzt über unser Bewerbungsportal oder alternativ per E-Mail an
        
        <a href="mailto:ausbildung@ibs-banking.com"><br><br>ausbildung@ibs-banking.com</a>
        </div>   
     
            <div ><a href="https://www.join-ibs.com/"><button  class="button" mat-raised-button color="accent" >Zum Bewerbungsportal</button></a>
            </div>
    </div>
 
</div>
