
.Bewerbung-Container{
   margin-bottom: 10%;
    justify-content: center;
    width: 100%;
}
.Inhalt{
    text-align: center;
    font-family: sans-serif;
    font-size: large;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url("https://wallpaperaccess.com/full/4660871.png");
}
.button:hover{
    transform: translateY(-5px);
}
.button{
   transition:ease-in-out 0.3s;
   padding-top: 50px;
}
h2{
    font-weight: 600;
    padding-bottom: 20px;
    font-size: 50px;
}