
.Bewerbung-Container{
    margin-bottom: 10%;
    justify-content: center;
    width: 40%;
    padding-left: 30%;
}
.Inhalt{
    border-style: initial;
    border-color: black;
    border-width: 50px;
    border-radius: 10px 25% 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: large;
    background-image: url("https://wallpaperaccess.com/full/4660871.png");
    padding-top: 5%;
    padding-bottom: 5%;


}

.button:hover{
    transform: translateY(-5px);
}
.button{
   transition:ease-in-out 0.3s;
   padding-top: 50px;
}
h2{
    font-weight: 600;
    padding-bottom: 20px;
    font-size: larger;
}