
<div class="flex-container">
    <mat-card class="karriere" >
    <mat-card-title class="titel">Karriere bei der iBS</mat-card-title>
    <mat-card-actions>
        <div class="buttons"><a href="https://www.ibs-banking.com/de/unternehmen/karriere.html"><button mat-raised-button color="accent" >Alles über die Karriere bei der iBS</button></a></div>
    </mat-card-actions>
    </mat-card>
    <mat-card class="ausbildung">
        <mat-card-title><span class="spacer"></span>Ausbildung bei der iBS</mat-card-title>
        <mat-card-actions>
            <div class="buttons"><button mat-raised-button color="accent" href="#" routerLink="/ausbildung" routerLinkActive="active">Mehr Infos zur Ausbildung bei der iBS</button></div>
        </mat-card-actions>
    </mat-card>
    <mat-card class="studium">
        <mat-card-title>Duales Studium bei der iBS</mat-card-title>
        <mat-card-actions>
         <div class="buttons"><button mat-raised-button color="accent" href="#" routerLink="/studium" routerLinkActive="active">Mehr Infos zum dualen Studium bei der iBS</button></div>
        </mat-card-actions>
    </mat-card>
</div>

