<!-- <div class="flex-container">
  <mat-card class="karriere karriere-card">
    <mat-card-title class="titel">Karriere bei der iBS</mat-card-title>
    <mat-card-actions>
      <div class="buttons">
        <a href="https://www.ibs-banking.com/de/unternehmen/karriere.html"
          ><button mat-raised-button color="accent">
            Alles über die Karriere bei der iBS
          </button></a
        >
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="ausbildung karriere-card">
    <mat-card-title
      ><span class="spacer"></span>Ausbildung bei der iBS</mat-card-title
    >
    <mat-card-actions>
      <div class="buttons">
        <button
          mat-raised-button
          color="accent"
          href="#"
          routerLink="/ausbildung"
          routerLinkActive="active"
        >
          Mehr Infos zur Ausbildung
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="studium karriere-card">
    <mat-card-title>Duales Studium bei der iBS</mat-card-title>
    <mat-card-actions>
      <div class="buttons">
        <button
          mat-raised-button
          color="accent"
          href="#"
          routerLink="/studium"
          routerLinkActive="active"
        >
          Mehr Infos zum dualen Studium
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div> -->
<div class="flex-container">
  <mat-card
    class="karriere-card"
    *ngFor="let windowData of windowContent | async"
    style="background-image:url('{{ img + windowData.img[0].url }}') ;"
  >
    <mat-card-title class="titel">{{ windowData.headline }}</mat-card-title>
    <mat-card-actions>
      <div class="buttons">
        <a
          *ngIf="routerConfig[windowData.linkZuSeite].isExternal"
          [href]="routerConfig[windowData.linkZuSeite].url"
          ><button mat-raised-button color="accent">
            {{ windowData.buttonlabel }}
          </button></a
        >
        <button
          *ngIf="!routerConfig[windowData.linkZuSeite].isExternal"
          mat-raised-button
          color="accent"
          href="#"
          [routerLink]="routerConfig[windowData.linkZuSeite].url"
          routerLinkActive="active"
        >
          {{ windowData.buttonlabel }}
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
