.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  max-width: 1200px;
  margin: 1rem auto;
  gap: 1.5rem;
  padding: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.mat-raised-button {
  min-height: 5rem;
  white-space: normal;
}

mat-card-title {
  align-items: center;
  justify-content: space-around;
  text-align: center;
  line-height: 115%;
}

mat-card {
  width: fit-content;
}

.karriere {
  background-image: url("https://media.istockphoto.com/vectors/network-connection-modern-design-abstract-science-and-technology-vector-id945169578?k=6&m=945169578&s=612x612&w=0&h=FuIYpHgkQwRtDiTHbiT_g3JaDsHsVomNxKI8sGIp1Sc=");
}
.ausbildung {
  background-image: url("https://media.istockphoto.com/vectors/abstract-vector-triangle-background-polygonal-network-pattern-blue-vector-id1078530626?k=6&m=1078530626&s=612x612&w=0&h=5OStmhPE1YG6KZG6ZtNjvhWcp-QVljw4kNR1DP0I6yI=");
}
.studium {
  background-image: url("https://media.istockphoto.com/vectors/abstract-vector-triangle-background-low-poly-network-pattern-blue-vector-id1082376556?k=6&m=1082376556&s=612x612&w=0&h=4puiso7ty_QtVNopwK-yrMWJwJPO_32eJLp3u3EmTz0=");
}
.karriere-card {
  background-color: #eeeeee;
  border-radius: 15px;
  background-size: cover;
  background-position: right;
  transition: 250ms;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25rem;
  padding: 2rem;
}

.karriere-card:hover {
  transform: scale(105%);
  filter: brightness(90%);
}

.buttons:hover {
  filter: brightness(125%);
}
.buttons1:hover {
  filter: brightness(125%);
}
@media (max-width: 930px) {
  .scaleable-font {
    font-size: 1.3vw;
  }
  mat-card-title {
    align-items: center;
    justify-content: space-around;
    text-align: center;
    line-height: 115%;
    font-size: 3vw;
  }
}
