mat-card-title {
  align-items: center;
  justify-content: space-around;
  text-align: center;
  line-height: 115%;
}
mat-card {
  width: 100%;
  border-radius: 15px;
  background-size: cover;
  background-position: right;
  transition: 250ms;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 25rem;
  padding: 2rem;
  background: linear-gradient(to bottom, #009ee0, #fafafa);
}
mat-raised-button {
  min-height: 5rem;
  white-space: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}
mat-card-actions {
  justify-content: center;
  align-items: center;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

@media (max-width: 930px) {
  /*   .scaleable-font {
    font-size: 2rem;
  } */
  mat-card-title {
    align-items: center;
    justify-content: space-around;
    text-align: center;
    line-height: 115%;
    font-size: 1.5rem;
  }
}
