
<div class="about">
    
    
    <a><img src="assets/img/geileslogo.png"></a>
    
  
    <div class="untere_überschrift"> iBS - Smart Application for Banking on SAP  </div>
    <br><br>

        <p class="text">Die iBS - innovative Solutions AG ist einer der führenden Hersteller von SAP-basierter Standardsoftware für den Bereich Banking. 
        <br><br>
        Seit 2000 konzipieren, entwickeln, implementieren und pflegen wir Lösungen in den Bereichen Meldewesen, Risikomanagement, 
        <br>
        Tax Compliance sowie Geschäftsprozesse von Spezialbanken.<br><br>
        Die iBS hat ihren Hauptsitz in Wiesbaden, Deutschland mit Extended Developpment Centern in Kosice, Slowakei und Sevilla, Spanien.</p>
        <div class="button"><a href="https://www.ibs-banking.com/de/unternehmen/profil.html"><button mat-raised-button color="accent" >Mehr erfahren</button></a></div>

    </div>



