.about{
    text-align: center;
    background-image: url("https://wallpaperaccess.com/full/449940.jpg");
    width: 100%;
}
/*
p.absatz {
    -webkit-animation: einblenden 2.5s;
}
 
@-webkit-keyframes einblenden {
    from {opacity: 0;}
    to {opacity: 1;}
}
 
/*Einblendung von Schrift
.fancy {
    -webkit-animation: einblenden 2.5s;
}
@-webkit-keyframes einblenden {
    from { opacity:0; }
    to { opacity:1; }
}
 
.fancy {
    -webkit-animation: einblenden 2.5s;
}
@-webkit-keyframes einblenden {
    from { opacity:0; }
    to { opacity:1; }
} */
 
/*Buttons*/
.button{
    display: inline-block;
  padding-bottom: 60px;
   margin-top: 80px;
   transition:ease-in-out 0.3s;
}
.button:hover{
    transform: translateY(-5px);
}
 
/* ibs-innovative solutions ag */
.untere_überschrift{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 45px;
    font-weight: 500;  
    padding-left: 20px;
    margin-top: 60px;
}
 
.text{
    font-size: large;
    margin-top: 60px;
}
 
img{
    margin-top: 60px;
}