<div class="about">
  <a><img src="assets/img/geileslogo.png" /></a>

  <h3 class="standard-scaling-hl">
    iBS - Smart Application for Banking on SAP
  </h3>
  <br /><br />

  <p class="standard-scaling-text">
    Die iBS - innovative Solutions AG ist einer der führenden Hersteller von
    SAP-basierter Standardsoftware für den Bereich Banking.
  </p>
  <br />
  <p class="standard-scaling-text">
    Seit 2000 konzipieren, entwickeln, implementieren und pflegen wir Lösungen
    in den Bereichen Meldewesen, Risikomanagement,
  </p>
  <br />
  <p class="standard-scaling-text">
    Tax Compliance sowie Geschäftsprozesse von Spezialbanken.
  </p>
  <br />
  <p class="standard-scaling-text">
    Die iBS hat ihren Hauptsitz in Wiesbaden, Deutschland mit Extended
    Developpment Centern in Kosice, Slowakei und Sevilla, Spanien.
  </p>
  <div class="button">
    <a href="https://www.ibs-banking.com/de/unternehmen/profil.html"
      ><button mat-raised-button color="accent">Mehr erfahren</button></a
    >
  </div>
</div>
