.about{
    text-align: center;
    background-image: url("https://wallpaperaccess.com/full/4660871.png");
    width: 100%;
}

.button{
  padding-bottom: 60px;
   margin-top: 80px;
}


.untere_überschrift{
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;  
    padding-left: 20px;
    margin-top: 60px;
}

.text{
    font-size: large;
    margin-top: 60px;
    

}

img{
    margin-top: 60px;
}

