<app-piechart-fix
  *ngIf="resolvedPiechartContent && resolvedPiechartContent.anzeigen"
  [ChartLabels]="piechartLabels"
  [ChartData]="piechartData"
  [colors]="piechartColors"
  headline="'Deine Ausbildung bei der iBS AG'"
></app-piechart-fix>
<app-ausbildung-windows></app-ausbildung-windows>

<div class="contact-card">
  <div class="grid-container-card" *ngFor="let kontaktData of kontakt | async">
    <app-contact-cards
      [name]="kontaktData.name"
      [image]="'http://localhost:1337' + kontaktData.img[0].url"
      [email]="kontaktData.link"
      [buttonLabel]="kontaktData.buttonlabel"
    >
      <div style="white-space: pre-line">
        {{ kontaktData.jobdescription }}
      </div>
    </app-contact-cards>
  </div>
</div>
<app-bewerbung
  *ngIf="resolvedContent"
  [headline]="resolvedContent.headline"
  [textbody]="resolvedContent.text"
  [email]="resolvedContent.email"
  [buttonlabel]="resolvedContent.buttonlabel"
  [linkToApplication]="resolvedContent.linkausbildung"
></app-bewerbung>
