<app-piechart-fix></app-piechart-fix>
<app-ausbildung-windows></app-ausbildung-windows>
<div class="contact-card">
  <div class="grid-container-card">
    <app-contact-cards
      name="Triff Anel!"
      image="./assets/img/anel.jpg"
      email="https://www.ibs-banking.com/de/unternehmen/karriere/meet-the-team/anel-auszubildende-fachinformatik-anwendungsentwicklung.html"
      buttonLabel="Erfahre mehr"
    >
      <i>Anel, Auszubildende bei der iBS!</i>
    </app-contact-cards>
  </div>
</div>
<app-bewerbung
  [linkToApplication]="linkToApplicationAusbildung"
></app-bewerbung>
