<div>
  <h1 class="headline">Deine Ansprechpartner</h1>
</div>

<div class="card-container">
  <div class="grid-container-card" *ngFor="let kontakt of kontakte | async">
    <app-contact-cards
      [name]="kontakt.name"
      [email]="'mailto:' + kontakt.email"
      [image]="'http://localhost:1337' + kontakt.img[0].url"
      [buttonLabel]="kontakt.buttonlabel"
      ><div style="white-space: pre-line">
        {{ kontakt.jobdescription }}
      </div></app-contact-cards
    >
  </div>
</div>
