/*
.flex-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    padding-bottom: 5%;
    
    
    
  
  
  }
  .flex-item-1 { 
    order: 1;
    
    
  }
  
  .flex-item-2 { 
    order: 2;
    flex-basis: 25%;
    
  }
  
  .flex-item-3 { 
    order: 3;
    flex-basis: 25%;
    
  }
  
  .flex-item-4 { 
    order: 4;
    flex-basis: 25%;
    
  }

  .Alex_bild {
    height: 150px;
    border-radius: 50%;
    padding-bottom: 5%;
    
  }
   
    .Tim_bild {
        height: 150px;
        border-radius: 50%;
        padding-bottom: 5%;
    }

    .Torsten_bild {
        height: 150px;
        border-radius: 50%;
        padding-bottom: 5%;
    }  
    
    .Freddy_bild {
        height: 150px;
        border-radius: 50%;
        padding-bottom: 5%;
        
    }
    */

    .Schrift {
        font-family: sans-serif;
        font-weight: bold;
        font-size: xx-large;
        text-align: center;
        padding: 5%;
        
        
        
    }

    .content {
        padding: 16px;
        display: flex;
        justify-content: center;
        padding-bottom: 10%;
       
       
    }
    
    .content > mat-card {
        width: 230px;
        justify-content: center;
        text-align: center;
    }

    .mat-elevation-z4:hover {
    transform: scale(120%);
    filter:brightness(90%);
    background-size: 180%;
    }
   
   
  