<div class="grid-container">
  <div class="main-content">
    <div class="mat-h1">Duales Studium bei der iBS AG</div>
    <div class="mat-body">
      <p>
        Du suchst den Einstieg in die attraktive Welt der Softwareentwicklung
        und -beratung? Du willst neben deinem Studium auch die Praxis kennen
        lernen? Du kannst dich für komplexe Banking-Themen begeistern?
      </p>
      <p>Dann starte mit uns dein</p>
    </div>
    <div class="mat-h2">
      Duales Studium Angewandte Informatik
      <small>oder</small> Wirtschaftsinformatik
    </div>
    <div class="mat-body">
      <p>
        In Kooperation mit der
        <a href="https://www.hs-rm.de/">Hochschule RheinMain</a> bieten wir dir
        als Student der
        <a
          href="https://www.hs-rm.de/de/fachbereiche/design-informatik-medien/studiengaenge/angewandte-informatik-bsc/"
          >Angewandten Informatik</a
        >
        oder
        <a
          href="https://www.hs-rm.de/de/fachbereiche/design-informatik-medien/studiengaenge/wirtschaftsinformatik-bsc/"
          >Wirtschaftsinformatik</a
        >
        die Chance, Theorie und Praxis zu verbinden. Beginn ist jeweils zum
        Wintersemester.
      </p>
    </div>
    <div class="mat-h3">Was dich erwartet</div>
    <div class="mat-body">
      <p>
        Wir sind ein führender Hersteller von SAP-basierten Bankenlösungen. Bei
        uns entwickelst du in Teamarbeit mit Kunden und Kollegen innovative
        Anwendungen, die Standards setzen. Dabei erlebst du hautnah, wie aus
        Ideen marktreife Produkte werden und sich diese im Lebenszyklus
        kontinuierlich weiterentwickeln.
      </p>
      <p>
        Mit dem dualem Studium bei der iBS erwirbst du akademisches Know-how und
        sammelst wertvolle Berufserfahrung. Während der Vorlesungszeit bist du
        vier Tage/Woche an der Hochschule. Einen Tag/Woche arbeitest du in der
        iBS, in der vorlesungsfreien Zeit Vollzeit.
      </p>
      <p>
        Im Rahmen der Praxiszeit bei der iBS arbeitest du direkt in
        Entwicklungsprojekten mit und erwirbst dabei umfassende praktische
        Kenntnisse bezüglich
      </p>
      <ul>
        <li>Konzeption, Entwicklung und Test von Softwarelösungen</li>
        <li>SAP Systemarchitektur, Module und Schnittstellentechniken</li>
        <li>Objektorientierte Programmierung mit ABAP-OO</li>
        <li>Anpassen von Software- und Datenbankanwendungen</li>
        <li>Organisation und Koordination von Projekten</li>
        <li>Bankfachliche Aufgabenstellungen</li>
      </ul>
      <p>
        Begleitende praxisorientierte Inhouse-Seminare und Mentoring durch
        erfahrene Kollegen unterstützen dich dabei, deine Kenntnisse und
        Fertigkeiten zu vertiefen.
      </p>
      <p>
        Nach sieben Semestern schließt du dein Studium als Bachelor of Science
        ab. Wenn du möchtest, kannst du dir die Arbeitszeit bei der iBS als
        Praxisphase anrechnen lassen und das Studium bereits nach 6 Semestern
        beenden.
      </p>
      <p>
        Beim Studiengang der Angewandten Informatik kannst du zusätzlich nach
        2,5 Jahren eine IHK-Prüfung zum Fachinformatiker – Fachrichtung
        Anwendungsentwicklung ablegen.
      </p>
      <p>
        Ach ja: Geld verdienst du dabei natürlich auch. Zusätzlich übernehmen
        wir sogar deine Semestergebühren.
      </p>
    </div>
    <div class="mat-h3">
      <h3>Das solltest du mitbringen</h3>
    </div>
    <div class="mat-body">
      <ul>
        <li>
          Abitur oder Fachhochschulreife mit guten Noten in Mathematik, Deutsch
          und Englisch
        </li>
        <li>hohes Interesse für bankfachliche Themen und Geschäftsprozesse</li>
        <li>Spaß daran, Herausforderungen gemeinsam im Team zu lösen</li>
        <li>
          und vor allem viel Enthusiasmus, Engagement und Lernbereitschaft
        </li>
      </ul>

      <br />
      <p>
        Weitere Infos zum Dualen Studium findest du auf der Webseite der
        <a href="http://www.hs-rm.de/index.php?id=6199">Hochschule RheinMain</a>
        und der
        <a
          href="https://www.ihk-wiesbaden.de/bildung/Ausbildung/Studium/Duales_Studium/1253464"
          >IHK Wiesbaden</a
        >
      </p>
    </div>
  </div>
  <div>
    <div class="contact-card">
      <div class="mat-h2">Chad Thundercock</div>
      <img
        src="https://pbs.twimg.com/media/EdvJVWFUwAAqRYY?format=jpg&name=240x240"
        alt="cool story bro very sus"
        height="175px"
      />
      <div class="mat-body">
        <p>Chad Thundercock says: "join ibs"</p>
      </div>
    </div>
  </div>
</div>
<div class="grid-card-container">
  <app-general-info-card cardHeadline="IBs" cardTextLabel="will dich Brudi">
    <div class="expended-text">
      <p>Dieser Text ist noch nicht zentriert <3</p>
      <br />
      <p>sademoji</p>
    </div>
  </app-general-info-card>
  <app-general-info-card
    cardHeadline="Bring das mit"
    cardTextLabel="Dega mach mal"
  >
    <div class="expended-text">
      <p>JETZT IST ER IST<3</p>
      <br />
      <p>POGGERS</p>
    </div>
  </app-general-info-card>
  <app-general-info-card
    cardHeadline="HSRM"
    cardTextLabel="Dies ist's, was ich dir heute gebiete: dass du den HERRN, deinen Gott, liebst und wandelst in seinen Wegen und seine Gebote, Gesetze und Rechte hältst, so wirst du leben und dich mehren, und der HERR, dein Gott, wird dich segnen in dem Lande, in das du ziehst, es einzunehmen."
  >
    <div class="expended-text">
      <p>Preiset die Hochschule</p>
      <br />
      <p>
        Ich bin der Weg und die Wahrheit und das Leben; niemand kommt zum Vater
        denn durch mich. Lass dich nicht vom Bösen überwinden, sondern überwinde
        das Böse mit Gutem. Ich bin die Auferstehung und das Leben. Wer an mich
        glaubt, der wird leben, auch wenn er stirbt.
      </p>
    </div>
  </app-general-info-card>
</div>
<app-bewerbung [linkToApplication]="linkToApplicationStudium"></app-bewerbung>
