.contact-card {
  padding: 1rem;
  max-width: 1200px;
  align-items: center;
  display: grid;
  margin: 1rem auto;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 13rem;
  max-width: 1200px;
  margin: 1rem auto;
  gap: 1.5rem;
  padding: 1.5rem;
}
.grid-container-card {
  display: grid;
  margin: 1rem auto;
  gap: 1.5rem;
  padding: 1.5rem;
}

.grid-con .mat-h3 {
  color: #009ee0;
}
.bewerben-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
a:link {
  color: #009ee0;
}

a:visited {
  color: #009ee0;
}

a:hover {
  color: #009ee0;
}

a:active {
  color: #009ee0;
}
.grid-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  max-width: 1200px;
  margin: 1rem auto;
  gap: 1.5rem;
  padding: 1.5rem;
}
.expanded-text {
  align-items: center;
  text-align: center;
}
@media (max-width: 920px) {
  .grid-container {
    display: grid;
    grid-template-rows: auto;
    max-width: 1200px;
    margin: 1rem auto;
    gap: 1.5rem;
    padding: 1.5rem;
    grid-template-columns: none;
  }

  .contact-card {
    background-color: #eeeeee;
    text-align: center;
  }
}
