<!-- <div class="grid-container">
  <div class="main-content">
    <div class="mat-h1">Duales Studium bei der iBS AG</div>
    <div class="mat-body">
      <p>
        Du suchst den Einstieg in die attraktive Welt der Softwareentwicklung
        und -beratung? Du willst neben deinem Studium auch die Praxis kennen
        lernen? Du kannst dich für komplexe Banking-Themen begeistern?
      </p>
      <p>Dann starte mit uns dein</p>
    </div>
    <div class="mat-h2">
      Duales Studium Angewandte Informatik
      <small>oder</small> Wirtschaftsinformatik
    </div>
    <div class="mat-body">
      <p>
        In Kooperation mit der
        <a href="https://www.hs-rm.de/">Hochschule RheinMain</a> bieten wir dir
        als Student der
        <a
          href="https://www.hs-rm.de/de/fachbereiche/design-informatik-medien/studiengaenge/angewandte-informatik-bsc/"
          >Angewandten Informatik</a
        >
        oder
        <a
          href="https://www.hs-rm.de/de/fachbereiche/design-informatik-medien/studiengaenge/wirtschaftsinformatik-bsc/"
          >Wirtschaftsinformatik</a
        >
        die Chance, Theorie und Praxis zu verbinden. Beginn ist jeweils zum
        Wintersemester.
      </p>
    </div>
    <div class="mat-h3">
      <h3>Das solltest du mitbringen</h3>
    </div>
    <div class="mat-body">
      <br />
      <p>
        Weitere Infos zum Dualen Studium findest du auf der Webseite der
        <a href="http://www.hs-rm.de/index.php?id=6199">Hochschule RheinMain</a>
        und der
        <a
          href="https://www.ihk-wiesbaden.de/bildung/Ausbildung/Studium/Duales_Studium/1253464"
          >IHK Wiesbaden</a
        >
      </p>
    </div>
  </div>
  <div>
    <div class="contact-card">
      <div class="mat-h2">Kazuhira Miller</div>
      <img
        src="https://www.pixelwarte.de/assets/pool/einblicke/metal-gear-solid-the-phantom-pain/characters/kazuhira_miller.png"
        alt="cool story bro very sus"
        height="225px"
      />
      <div class="mat-body">
        <p>
          Why are we still here? Just to suffer? Every night, I can feel my
          leg... And my arm... even my fingers... The body I've lost... the
          comrades I've lost... won't stop hurting... It's like they're all
          still there. You feel it, too, don't you? I'm gonna make them give
          back our past!
        </p>
      </div>
    </div>
  </div>
</div> -->
<app-piechart-fix
  [ChartLabels]="chartLabels"
  [ChartData]="chartData"
  [colors]="chartColors"
  headline="Dein duales Studium bei der iBS AG"
></app-piechart-fix>
<div class="grid-card-container">
  <app-general-info-card
    cardHeadline="Praxis in der IBs"
    cardTextLabel="Mit dem dualem Studium bei der iBS erwirbst du akademisches Know-how und
  sammelst wertvolle Berufserfahrung. Während der Vorlesungszeit bist du
  vier Tage/Woche an der Hochschule. Einen Tag/Woche arbeitest du in der
  iBS, in der vorlesungsfreien Zeit Vollzeit."
  >
    <div class="expanded-text">
      <p>
        Nach sieben Semestern schließt du dein Studium als Bachelor of Science
        ab. Wenn du möchtest, kannst du dir die Arbeitszeit bei der iBS als
        Praxisphase anrechnen lassen und das Studium bereits nach 6 Semestern
        beenden.
      </p>
      <p>
        Beim Studiengang der Angewandten Informatik kannst du zusätzlich nach
        2,5 Jahren eine IHK-Prüfung zum Fachinformatiker – Fachrichtung
        Anwendungsentwicklung ablegen.
      </p>
    </div>
  </app-general-info-card>
  <app-general-info-card
    cardHeadline="Du bist interessiert?"
    cardTextLabel="Das solltest du mitbringen!"
  >
    <div class="expanded-text">
      <ul>
        <li>
          Abitur oder Fachhochschulreife mit guten Noten in Mathematik, Deutsch
          und Englisch
        </li>
        <li>hohes Interesse für bankfachliche Themen und Geschäftsprozesse</li>
        <li>Spaß daran, Herausforderungen gemeinsam im Team zu lösen</li>
        <li>
          und vor allem viel Enthusiasmus, Engagement und Lernbereitschaft
        </li>
      </ul>
    </div>
  </app-general-info-card>
  <app-general-info-card
    cardHeadline="Wir bieten dir"
    cardTextLabel="Platzehalter für das Label haha"
  >
    <div class="expanded-text">
      <p>
        Im Rahmen der Praxiszeit bei der iBS arbeitest du direkt in
        Entwicklungsprojekten mit und erwirbst dabei umfassende praktische
        Kenntnisse bezüglich
      </p>
      <ul>
        <li>Konzeption, Entwicklung und Test von Softwarelösungen</li>
        <li>SAP Systemarchitektur, Module und Schnittstellentechniken</li>
        <li>Objektorientierte Programmierung mit ABAP-OO</li>
        <li>Anpassen von Software- und Datenbankanwendungen</li>
        <li>Organisation und Koordination von Projekten</li>
        <li>Bankfachliche Aufgabenstellungen</li>
      </ul>
    </div>
    <p>
      Begleitende praxisorientierte Inhouse-Seminare und Mentoring durch
      erfahrene Kollegen unterstützen dich dabei, deine Kenntnisse und
      Fertigkeiten zu vertiefen.
    </p>
    <h1>HIER MUSS NOCH DIE GENAUE HÖHE DES GEHALTS REIN</h1>
    <p>
      Außerdem zahlen wir dir ein Gehalt in Höhe von... und übernehmen deine
      Semestergebühren.
    </p>
  </app-general-info-card>
</div>
<div class="contact-card">
  <div class="grid-container-card">
    <app-contact-cards
      name="Triff Peter!"
      image="./assets/img/der_peter.jpg"
      email="https://www.ibs-banking.com/de/unternehmen/karriere/meet-the-team/peter-dualer-student-wirtschaftsinformatik.html"
      buttonLabel="Erfahre mehr"
    >
      <i>Peter, dualer Student bei der iBS!</i>
    </app-contact-cards>
  </div>
</div>
<app-bewerbung [linkToApplication]="linkToApplicationStudium"></app-bewerbung>
