<a><img src="assets/img/geileslogo.png" /></a>
<div>
    

    <form class="login">
        <table>
            <tr><td><mat-form-field class="username" appearance="fill">
                <mat-label>Benutzername</mat-label>
                <input matInput type="text">
            </mat-form-field></td></tr>
            <tr><td><mat-form-field class="password" appearance="fill">
                <mat-label>Passwort</mat-label>
                <input matInput type="password"> 
            </mat-form-field></td>
            <td><button mat-icon-button color="accent">
                <mat-icon>login</mat-icon>
            </button></td></tr>  
        </table>
    </form>
</div>
