div{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
    padding-top:5rem;
    padding-bottom:5rem;
    background-color:#009EE0;
}
.login{
   background-color: #EEEEEE;
   border-radius: 7.5%;
}
a{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    margin-bottom: 2rem;
}