<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a href="http://localhost:4200/"
        ><img src="assets/img/1552585829.png" alt="Join iBS"
      /></a>
      <span class="spacer"></span>
      <div class="desktop-menu">
        <a href="#" routerLink="/ausbildung" routerLinkActive="active"
          >Ausbildung</a
        >
        <a href="#" routerLink="/studium" routerLinkActive="active"
          >Duales Studium</a
        >
        <a href="https://www.ibs-banking.com/de/unternehmen/karriere.html"
          >Karriere</a
        >
        <a href="#" routerLink="/kontakt" routerLinkActive="active">Kontakt</a>
      </div>
      <button class="menu-button">Navigation</button>
    </mat-toolbar>
    <ng-content> </ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="mobile-menu">
  <p>
    <a href="#" routerLink="/ausbildung" routerLinkActive="active"
      >Ausbildung</a
    >
  </p>
  <a href="#" routerLink="/studium" routerLinkActive="active">Duales Studium</a>
  <p>
    <a href="https://www.ibs-banking.com/de/unternehmen/karriere.html"
      >Karriere</a
    >
  </p>
  <p>
    <a href="#" routerLink="/kontakt" routerLinkActive="active">Kontakt</a>
  </p>
</div>
