<mat-sidenav-container class="sidenav-container">
 
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      
      <a href="http://localhost:4200/"><img src="assets/img/1552585829.png" alt="Join iBS"></a>
      <span class="spacer"></span>
      <a href="#" routerLink="/ausbildung" routerLinkActive="active">Ausbildung</a>
      <a href="#" routerLink="/studium" routerLinkActive="active">Duales Studium</a>
      <a href="https://www.ibs-banking.com/de/unternehmen/karriere.html">Karriere</a>
      <a href="#" routerLink="/kontakt" routerLinkActive="active">Kontakt</a>
    </mat-toolbar>
    <ng-content>
    </ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
