.flex-container{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 7.5%;
    height: 20%;
}
.fled-container2{
    display: flex;
    flex-wrap: wrap;
}
.flex-item{
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
}
mat-card-title{
    align-items:center;
    justify-content:space-around;
    text-align: center;
    line-height: 115%;
}
mat-card-content{
    margin-top: 10%;
}
mat-card{
    width: 30%;
    height: auto;
    border-radius: 15px;
    margin: 2.5%;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
mat-card-actions{
    justify-content: space-around;
    align-items: center;
}
