<div class="flex-container">
    <mat-card class="praxis">
        <mat-card-title>
            Praxis in der iBS
        </mat-card-title>
        <mat-card-content>
            Während deiner Ausbildung wirst du bereits von Beginn an in interessanten Projekten eingesetzt und lernst alle spannenden Bereiche der iBS kennen. <br>
            &nbsp;
        </mat-card-content>
        <mat-card-actions>
            <div class="buttons"><a><button mat-raised-button color="accent">Mehr</button></a></div>
        </mat-card-actions>
    </mat-card>
    <mat-card class="seminar">
        <mat-card-title>
            Seminare der DXC-Academy
        </mat-card-title>
        <mat-card-content>
            In Kooperation mit der DXC-Academy hast du ab dem ersten Tag praxisbezogene Seminare, in denen dir erfahrene Trainer die wichtigsten Inhalte für deine Ausbildung vermitteln. <br>
            &nbsp;
        </mat-card-content>
        <mat-card-actions>
            <div class="buttons"><a><button mat-raised-button color="accent">Mehr</button></a></div>
        </mat-card-actions>
    </mat-card>
    <mat-card class="schule">
        <mat-card-title>
            Berufsschule
        </mat-card-title>
        <mat-card-content>
            Die Berufsschule findet in Form von Blockunterricht statt. Ein Berufsschulblock geht hierbei durchschnittlich drei Monate. In dieser Zeit lernst du zusätzlich in vier Schulprojekten die verschiedenen Ausbildungsinhalte.
        </mat-card-content>
        <mat-card-actions>
            <div class="buttons"><a><button mat-raised-button color="accent">Mehr</button></a></div>
        </mat-card-actions>
    </mat-card>
</div>
