@import '~@angular/material/theming';

@include mat-core();

$my-theme-primary: mat-palette($mat-grey, 200);
$my-theme-accent: mat-palette($mat-light_blue);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent);

@include angular-material-theme($my-theme);